<h3>All Patients (<%= @patients.count %>)</h3>
<h4>Create an appointment based on a patient</h4>
<hr class="style-two">

<%# Search Form to find patients by name %>
<%# Will show any patient 'containing' the search result %>
<%= form_tag(patients_path, method: "get") do %>
  <%= label_tag(:search, "Search by Patient Name:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<%# Table to show all patients %>
<table style="width:100%">
    <tr>
        <th>Patient</th>
        <th>Patient Age</th>
        <th>Next Appointment</th>
        <th>Appointment Count</th>
        <th>Patient Options</th>
    </tr>
    <% @patients.each do |patient| %>
        <% appointments = patient.appointments.order(:appointment_date) %>
    <tr>
        <td><%= link_to patient.name, patient_path(patient) %></td>
        <td><%= patient.age %> years old</td>

        <td>
        <% if patient.appointments.count > 0 %>
            <%# Chaining another scope method here %>
            <%= appointments.current.first.appointment_date.strftime("%m/%d/%Y %I:%M %p")%>
        <% else %>
            No Future Appointments
        <% end %>
        </td>

        <td><%= appointments.count %> Appointment(s)</td>
        <td>
            <%= link_to 'Create Appointment', new_patient_appointment_path(patient), class: "btn btn-success"%>
            <%= link_to 'View', patient_path(patient), class: "btn btn-info"%>
            <%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-warning" %>
            <%= link_to 'Delete', patient_path(patient),
                        method: :delete,
                        class: "btn btn-danger",
                        data: {confirm: 'Are you sure?'}%>
        </td>
    </tr>
    <% end %>
</table>