<h3>All Patients (<%= @patients.count %>)</h3>
<h4>Create an appointment based on a patient</h4>
<hr class="style-two">
<table style="width:100%">
    <tr>
        <th>Patient</th>
        <th>Patient Age</th>
        <th>Appointment Count</th>
        <th>Patient Options</th>
    </tr>
    <% @patients.each do |patient| %>
    <tr>
        <td><%= link_to patient.name, patient_path(patient) %></td>
        <td><%= patient.age %> years old</td>
        <td><%= patient.appointments.count %> Appointment(s)</td>
        <td>
            <%= link_to 'Create Appointment', new_patient_appointment_path(patient), class: "btn btn-success"%>
            <%= link_to 'View', patient_path(patient), class: "btn btn-info"%>
            <%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-warning" %>
            <%= link_to 'Delete', patient_path(patient),
                        method: :delete,
                        class: "btn btn-danger",
                        data: {confirm: 'Are you sure?'}%>
        </td>
    </tr>
    <% end %>
</table>