<h3>New Patient & New Appointment</h3>
<hr class="style-two">
<%= form_for(@patient) do |f| %>
    <% if @patient.errors.any? %>
        <% @patient.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>

    <div>
    <%= f.label :name, "Patient Name:" %>
    <%= f.text_field :name %>

    <%= f.label :age, "Patient Age:" %>
    <%= f.number_field :age %>
    </div>

    <%= f.fields_for :appointments do |af| %>
        <p><%= af.label :appointment_date, "Appointment Date/Time:"%>
        <%= af.datetime_field :appointment_date, min: Date.today %></p>
    <% end %>
    <div>
    <%= f.submit %>
    </div>
<% end %>

<%# Form to show YOUR upcoming appointments %>
<%= render partial: 'appointments/upcoming_appt', locals: {appointments: @appointments} %>