<%# Patient Info and Options for patient %>
<h3><%= @patient.name %>'s Appointments (<%= @patient.age %> years old) | 
<%= link_to "Create Appointment", new_patient_appointment_path(@patient), class: "btn btn-success"%> |
<%= link_to "Edit Patient File", edit_patient_path(@patient), class: "btn btn-warning" %> |
<%= link_to 'Delete Patient', patient_path(@patient),
                        method: :delete,
                        class: "btn btn-danger",
                        data: {confirm: 'Are you sure?'}%></h3>
<hr class="style-two">

<%# Table to show patients information %>
<table width="100%">
    <tr>
        <th>Physician</th>
        <th>Appointment Date/Time</th>
        <th>Appointment Options</th>    
    </tr>
    <% @appointments.each do |appointment| %>
    <%# Must convert the time to 'local' manually | DateTime is weird%>
    <% if appointment.appointment_date < (Time.now - 14400) %>
        <tr class="passed">
    <% end %>
        <td><%= appointment.user.username %></td>
        <td><%= appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %></td>
        <td>
            <%= link_to 'View', patient_appointment_path(appointment.patient, appointment), class: "btn btn-info"%>
            <%= link_to 'Edit', edit_patient_appointment_path(appointment.patient, appointment), class: "btn btn-warning"%>
            <%= link_to 'Delete', patient_appointment_path(appointment.patient, appointment), 
            method: :delete,
            class: "btn btn-danger",
            data: {confirm: 'Are you sure?'}%>
        </td>
    </tr>
    <% end %>
</table>