<%# ================= %>
<%# YOUR APPOINTMENTS %>
<%# ================= %>
<h3>Your Appointments (<%= current_user.appointments.count %>)</h3>
<hr class="style-two">
<table style="width:100%">
    <tr>
        <th>Patient Name</th>
        <th>Appointment Date/Time</th>
        <th>Appointment Options</th>
    </tr>

    <% @appointments.each do |appointment| %>
        <% if current_user.id == appointment.user_id %>
            <%# Must convert the time to 'local' manually | DateTime is weird%>
            <% if appointment.appointment_date < (Time.now - 14400) %>
                <tr class="passed">
            <% end %>
            <td><p>Patient: <%= link_to "#{appointment.patient.name} (Age:  #{appointment.patient.age.to_s})", appointment.patient %></p></td>
            <td><p>Date/Time: <%= appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %> </p></td>
            <td>
                <%= link_to 'View', patient_appointment_path(appointment.patient, appointment), class: "btn btn-info"%>
                <%= link_to 'Edit', edit_patient_appointment_path(appointment.patient, appointment), class: "btn btn-warning"%>
                <%= link_to 'Delete', patient_appointment_path(appointment.patient, appointment), 
                method: :delete,
                class: "btn btn-danger",
                data: {confirm: 'Are you sure?'}%>
            </td>
            </tr>
        <% end %>
    <% end %>
</table>


<%# ================ %>
<%# ALL APPOINTMENTS %>
<%# ================ %>
<h3>All Appointments (<%= Appointment.all.count %>)</h3>
<hr class="style-two">
<table style="width:100%">
    <tr>
        <th>Physician</th>
        <th>Patient</th>
        <th>Appointment Date/Time</th>
        <th>Appointment Options</th>
    </tr>
  <% @appointments.each do |appointment| %>
  <%# Must convert the time to 'local' manually | DateTime is weird%>
   <% if appointment.appointment_date < (Time.now - 14400) %>
      <tr class="passed">
   <% end %>
        <td><p>Physician: <%= appointment.user.username %></p></td>
        <td><p>Patient: <%= link_to "#{appointment.patient.name} (Age:  #{appointment.patient.age.to_s})", appointment.patient %></p></td>
        <td><p>Date/Time: <%= appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %> </p></td>
        <td>
            <%= link_to 'View', patient_appointment_path(appointment.patient, appointment), class: "btn btn-info"%>
            <%= link_to 'Edit', edit_patient_appointment_path(appointment.patient, appointment), class: "btn btn-warning"%>
        </td>
   </tr>
<% end %>
</table>


<%= link_to "DELETE ALL EXPIRED APPOINTMENTS", appointments_delete_all_path, 
                        method: :delete,
                        class: "btn btn-danger",
                        data: {confirm: 'Are you sure?'} %>