<h3>Create A New Appointment For: <%= @appointment.patient.name %></h3>
<hr class="style-two">
<%# New Patient Form %>
<%= render partial: 'form', locals: {appointment: @appointment, patient: @patient}  %>

<hr class="style-two">
<%# Current Patients Upcoming Appoointments %>
<h3><%= @appointment.patient.name %>'s Upcoming Appointments</h3>
<table width="100%">
    <tr>
        <th>Physician</th>
        <th>Appointment Date/Time</th>
    </tr>
    <% @appointments.each do |appointment| %>
        <% if appointment.appointment_date > DateTime.now %>
        <tr>
            <td><%= appointment.user.username %></td>
            <td><%= appointment.appointment_date.strftime("%m/%d/%Y %I:%M %p") %></td>
        </tr>
        <% end %>
    <% end %>
</table>

<%# Form to show YOUR upcoming appointments %>
<%= render partial: 'upcoming_appt', locals: {appointments: @your_appts} %>