<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <%= link_to 'Home', root_path, :class => "navbar-brand" %>
        <% if !user_signed_in? %>
        <ul class="navbar-nav mr-auto">
            <li><%= link_to 'Sign Up', new_user_registration_path, :class => "navbar-brand" %></li>
            <li><%= link_to 'Login', new_user_session_path, :class => "navbar-brand" %></li>
        </ul>
        <% else %>
        <ul class="navbar-nav mr-auto">
            <li><%= link_to 'Patients', patients_path, :class => "navbar-brand" %></li>
            <li><%= link_to 'Create Patient', new_patient_path, :class => "navbar-brand" %></li>
            <li><%= link_to 'Create Appointment', patients_path, :class => "navbar-brand" %></li>
        </ul>
            <%= link_to "Hello, #{current_user.username}", root_path, :class => "navbar-brand" %>
            <%= link_to 'Logout',  destroy_user_session_path, method: 'delete', :class => "navbar-brand"%>
        <% end %>
    </ul>
</nav>